*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Змінні */
:root {
  --green: #18cfab;
  --blue: #00cbf6;
  --grey: #4e4e4e;
  --white: #ffffff;
}

/* Типографія */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #777777;
  line-height: 24px;
  font-size: 16px;
}
h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-top: 0;
}
h1 {
  font-size: 78px;

  margin-bottom: 22px;
}
h2 {
  font-size: 35px;

  margin-bottom: 22px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 39px;
  margin-top: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.hidden,
.not-loaded {
  display: none;
}

/* Компоненти */
.button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background: var(--green);
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  padding: 16px 17px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 5px;
  border: none;
}
.button-blue {
  background: var(--blue);
}

.title {
  position: relative;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--grey);
  text-transform: none;
  text-align: center;
  margin-bottom: 100px;
}

.title::before,
.title::after {
  content: "";
  width: 76px;
  height: 1px;
  background-color: var(--green);
  position: absolute;
  top: calc(100% + 26px);
  left: calc(50% - 38px);
}
.title::after {
  width: 78px;
  top: calc(100% + 30px);
  left: calc(50% - 30px);
}

/* Секції */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(94, 93, 88, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.logo {
  width: 233px;
  height: 120px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 21px;
}
.menu li {
  display: inline-block;
  list-style: none;
  line-height: 0;
}
.menu a {
  display: inline-flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  height: 120px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

.menu a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: 0.3s;
}
.menu a:hover,
.menu a.active {
  color: var(--green);
}
.menu a:hover::after,
.menu a.active::after {
  background-color: var(--green);
}
.menu a svg {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.banner {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(../img/section-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 120px;
  margin-bottom: 8px;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 264px;
}
.title-banner {
  color: var(--white);
}
.span-banner {
  color: rgba(24, 207, 171, 1);
}
h1 {
  color: var(--white);
}
.banner-text {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 129px;
}
.banner-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin-bottom: 243px;
}

.features-list {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 377px;
  display: flex;
  list-style: none;
  background-color: var(--green);
}
.features-list-img {
  height: 98px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 47px;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
}
.features-list li:nth-child(odd) {
  background: #1c2a33;
  color: var(--green);
}

.services {
  padding: 83px 0 91px;
}

.services-menu {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 100px 0 28px;
  width: 100%;
  height: 72px;
  background-color: #f8fcfe;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}

.services-menu li {
  position: relative;
  flex-grow: 1;
  font-size: 16px;
  line-height: 72px;
  color: #717171;
  transition: 0.3s;
  border: 2px solid transparent;
}
.services-menu li.active::after {
  content: "";
  border: 12px solid transparent;
  border-top: 12px solid var(--green);
  position: absolute;
  left: 50%;
  margin-left: -12px;
  bottom: -24px;
  width: 0;
}
.tabs-services-menu.active {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
}
.tabs-services-menu:hover {
  border-color: var(--green);
}
.services-menu-content {
  list-style: none;
}
.services-menu-content li:not(.active) {
  display: none;
}

.services-info {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.services-foto img {
  width: 192px;
  height: 139px;
}
.services-infotext {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}
.buy {
  background-image: url(../img/section_buy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 128px;
  padding-bottom: 127px;
}
.buy-tittle {
  font-size: 40px;
  line-height: 40px;
  width: 100%;
  color: var(--green);
}
.buy-infotext {
  margin: 12px 0 62px;
  line-height: 40px;
  text-align: center;
  color: #d8d8d8;
}
.buy-buttons {
  text-align: center;
}
.works {
  padding: 96px 0 99px;
  background-color: #e9edef;
}

.works-menu {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 97px 0 71px;
  border: 1px solid #dadada;
  cursor: pointer;
}
.works-menu li {
  flex-grow: 1;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  border: 1px solid #dadada;
  transition: 0.3s;
}

.works-menu li:hover,
.works-menu li.active {
  border: 2px solid var(--green);
  color: var(--green);
}

.works-foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.works-foto li {
  list-style: none;
  line-height: 0;
}
.works-foto img {
  width: 285px;
  height: 206px;
}
.load-more {
  position: relative;
  margin-top: 70px;
  text-align: center;
}
.load-more-loading {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  align-items: center;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.spinner {
  display: none;
}
@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
.news {
  padding: 82px 0 84px;
  margin-bottom: 129px;
  background-color: var(--white);
}

.container-news {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 35px;
}
.news-post {
  display: block;
  width: calc(25% - 27px);
}
.news-img {
  position: relative;
}
.news-img img {
  width: 100%;
  height: 208px;
  margin-bottom: 4px;
}
.news-date {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 68px;
  background-color: #203e38;
  transition: 0.3s;
}
.news-date-day,
.news-date-month {
  font-size: 16px;
  line-height: 25px;
  color: var(--white);
}
.news-title {
  padding: 0 15px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 39px;

  color: #717171;

  transition: 0.3s;
}
.news-meta {
  position: relative;
  display: flex;
  padding: 0 15px;

  font-weight: 300;
  font-size: 14px;

  color: #777777;
}

.news-autor::after {
  content: "|";
  margin: 0 10px;
}
.news-post:hover .news-date {
  background-color: var(--green);
}
.news-post:hover .news-title {
  color: var(--green);
}
.feedbacks {
  text-align: center;
  background-image: url(../img/section-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 98px 0 114px;
}
.feedbacks .title {
  font-size: 36px;
  color: var(--white);
}
.feedback {
  margin: 0;
  padding-top: 69px;
  background-image: url(../img/quotes.svg);
  background-size: 44px 30px;
  background-position: center 0;
  background-repeat: no-repeat;
}

.feedbacks-customers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}

.feedback-text {
  padding: 0;
  margin: 0 0 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: #bbbbbb;
}

.feedback-name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: var(--green);
}
.feedback-position {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: rgba(187, 187, 187, 1);
}
.feedback-foto img {
  width: 167px;
  height: 167px;
  margin-bottom: 40px;
  border-radius: 50%;
  border: 12px solid var(--grey);
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
  color: var(--white);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--green);
  border-color: var(--green);
}

.slider-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  position: relative;
}
.slider-thumbs-wrapper {
  position: relative;
  width: 520px;
  margin: 0 auto;
  padding: 0 61px;
}

.slider-thumbs .swiper-slide {
  width: 71px;
  height: 81px;
  padding-top: 10px;
}
.slider-thumbs .swiper-slide-thumb-active {
  padding-top: 0;
}

.slider-thumbs img {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgba(24, 207, 171, 0.2);
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
}
.slider-thumbs img:hover {
  transform: rotate(360deg);
}

.footer {
  background-color: #22353f;
  padding: 48px 0 47px;
}
.footer-info {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  text-align: center;
}
.span-footer {
  color: rgba(24, 207, 171, 1);
}
